# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/composeApp/build/*
/build/ios/*

/build/ios/XCBuildData/build.db
/.gradle/configuration-cache/*
/build/reports/*
/build/ios/XCBuildData/73545dd49d2dd3dec082d18d0dd6f5b9.xcbuilddata/build-request.json
/.gradle/kotlin/*
/.gradle/*
.gradle/*
.gradle/buildOutputCleanup.lock
/buildSrc/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/buildSrc/.gradle/buildOutputCleanup/cache.properties
/buildSrc/.gradle/8.0/checksums/checksums.lock
/buildSrc/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/buildSrc/.gradle/8.5/executionHistory/executionHistory.bin
/buildSrc/.gradle/8.0/executionHistory/executionHistory.lock
/buildSrc/.gradle/8.5/executionHistory/executionHistory.lock
/buildSrc/.gradle/file-system.probe
/buildSrc/.gradle/8.0/fileHashes/fileHashes.lock
/buildSrc/.gradle/8.0/dependencies-accessors/gc.properties
/buildSrc/.gradle/8.0/gc.properties
/buildSrc/.gradle/vcs-1/gc.properties
/buildSrc/.gradle/8.0/fileChanges/last-build.bin
/buildSrc/.gradle/8.0/checksums/md5-checksums.bin
/buildSrc/.gradle/buildOutputCleanup/outputFiles.bin
/buildSrc/.gradle/8.0/checksums/sha1-checksums.bin
/allenSharedUI/*
/allenSharedUI/build
/allenSharedUI/build/*
allenSharedUI/build/*
AllenMultiplatform/allenSharedUI/build/*
